.custom-elements {
  height: 100%;
  width: 100%;

  &-item {
    background: #fef6f3;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-content {
      box-shadow: 0 0 2px 1px #707070;
      height: 100%;
      padding: 30px;
      border-radius: 5px;

      .custom-menu {
        button {
          margin: 0;
        }
      }
    }
    &-description {
      background: white;
      padding: 10px;
      border-radius: 5px;
      width: 100%;
      box-shadow: 0 0 2px 1px #707070;
      margin-top: 10px;
    }
  }
}
