// color
$white-color: #fff;
$main-text-color: #707070;
$topBar-BackgroundColor: #328E61;
$navigation-text-color: #328E61;
$navigation-text-set-color: #333333;
$certification-tab-division-bkColor: #328E61;
